*.out
*.pdf
*.eps
*.png
*.aux
*.synctex.gz
*.log
*.blg
*.dvi
*.o
*.mod
*.dat
*.info
*.sor
*.swp
test.eps
example
encorr
intldc
test
pointsM
spectre
suppointsM
selfcons
traitement
libperso/libmalib.a
DONNEES/
mkInfoFile.inp
*.exe
SVLtest.f90